<h1>Posts</h1>


  

<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date
      </th>
      <th>
        Body
      </th>
      <th>
        User
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render 'posts/post' %>  
  </tbody>
</table>


