@import 'bootstrap/dist/css/bootstrap';
// @import "simple_calendar";
// @import "bourbon";
// @import "home";
// @import "users";

.custom-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-text{
	margin-top: 10px;
  margin-bottom: 10px;
}

textarea.form-control {
  height: 200px;
}

.or {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 30px 0 20px;
}

.or span {
  background:#fff; 
  padding:0 10px;  
}


// admin
.pending-homepage {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #E3E3E3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
}

.homepage-block {
	background-color: #1D3C91;
	color: white;
	margin:  12px 42px 12px 42px;
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
} 

.pending-details {
	font-weight: 900;
} 

.homepage-block:hover {
	background-color: #172b63;
} 

